@font-face {
  font-family: "ClashGrotesk";
  src: url("../Fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Extralight.woff");
  font-weight: 200;
}
@font-face {
  font-family: "ClashGrotesk";
  src: url("../Fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "ClashGrotesk";
  src: url("../Fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "ClashGrotesk";
  src: url("../Fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "ClashGrotesk";
  src: url("../Fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "ClashGrotesk";
  src: url("../Fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Bold.woff2");
  font-weight: 700;
}
